
///*------------------------------------*\
//    #SETTINGS-FONTS all variables related to fonts.
//\*------------------------------------*/

$url_43: url("../fonts/roboto-light-webfont.eot");
$url_44: url("../fonts/roboto-light-webfont.eot?#iefix");
$url_45: url("../fonts/roboto-light-webfont.woff2");
$url_46: url("../fonts/roboto-light-webfont.woff");
$url_47: url("../fonts/roboto-light-webfont.ttf");
$url_48: url("../fonts/roboto-light-webfont.svg#robotolight");
$url_49: url("../fonts/roboto-regular-webfont.eot");
$url_50: url("../fonts/roboto-regular-webfont.eot?#iefix");
$url_51: url("../fonts/roboto-regular-webfont.woff2");
$url_52: url("../fonts/roboto-regular-webfont.woff");
$url_53: url("../fonts/roboto-regular-webfont.ttf");
$url_54: url("../fonts/roboto-regular-webfont.svg#robotoregular");
$url_55: url("../fonts/roboto-medium-webfont.eot");
$url_56: url("../fonts/roboto-medium-webfont.eot?#iefix");
$url_57: url("../fonts/roboto-medium-webfont.woff2");
$url_58: url("../fonts/roboto-medium-webfont.woff");
$url_59: url("../fonts/roboto-medium-webfont.ttf");
$url_60: url("../fonts/roboto-medium-webfont.svg#robotomedium");
$url_63: url("../fonts/Roboto-Bold.eot");
$url_64: url("../fonts/Roboto-Bold.eot?#iefix");
$url_65: url("../fonts/Roboto-Bold.woff2");
$url_66: url("../fonts/Roboto-Bold.woff");
$url_67: url("../fonts/Roboto-Bold.ttf");
$url_68: url("../fonts/Roboto-Bold.svg#Roboto");

$font_2: "robotolight";
$font_1: "robotoregular";
$font_3: "robotomedium";