
///*------------------------------------*\
//    #SETTINGS-COLORS all colors should be here as variables for easier manipulation
//\*------------------------------------*/

//color used for footer background (dark-gray almost black)
$footer_bg: #3F3F3F;

//search border color
$searchbar_border_c: #e0e0e0;

//orange button background
$button_orange_bg: #f87628;

//light orange button background
$button_orange_light_bg: #fce5d3;
$button_orange_light_border: #b78d65;
$button_orange_light_color: #de804d;

//light green button background
$button_green_light_bg: #cef4dd;
$button_green_light_border: #599f69;
$button_green_light_color: #36b05d;

//green button background
$button_green_bg: #25be4a;

//search background color
$search_bg: #f7f7f7;
$search_color: #8c8c8c;
$search_placeholder_color: #bac0bc;

//west footer link colors
$w_f_link_color: #626262;

//white
$white: #fff;

//orange font color
$font_orange_color: #e08348;

//dark-gray font color
$font_darkgray_color: #464646;

//price green link color
$green_link_color: #3bb35c;

//green big banner button
$button_banner_green: #4ec96e;
$button_banner_border: #32b452;

//separator default color
$separator_color: #1e1e1e;
$separator_highlight: #de7f3d;

//panelgrid gray color text
$panelgrid_output_color: #545454;

//graylink
$commandLink_gray: #737373;

//panelgrid--borders-color
$panelgrid_borders_color: #eee;

//panelgrid--background-colors
$panelgrid_cell_pink: #e96475;
$panelgrid_cell_green: #b9e986;
$panelgrid_cell_blue: #4990e2;
$panelgrid_cell_purple: #8f13fd;

//footer-top green background
$footer_header_green: #50c86f;

//color green, used in buttons
$color_green: #57c176;

//white button green border
$footer_button_green_border: #7aae88;

//social media circle bg
$social_media_circle_bg: #777;

//transparent white
$transparent_white_60: rgba(255,255,255,0.6);

//dark input border
$dark_input_border: #919191;

//black color
$black: #000;

//transparent black 18%
$transparent_black_18: rgba(0,0,0,0.18);

//transparent black 40%
$transparent_black_40: rgba(0,0,0,0.4);

//transparent black 10%
$transparent_black_10: rgba(0,0,0,0.1);

//transaprent black 8%
$transparent_black_8: rgba(0,0,0,0.08);

//gray svg background
$gray_svg_bg: #cfcfcf;

//color font-dark-gray-blue
$color_dark_gray: #29333d;

//pink highlight background
$highlight_pink_bg: #ff2552;

//blue highlight background
$highlight_blue_bg: #0394ea;

//hearth dark red color
$hearth_bg: #c72a27;

//red color text
$color_red: #ff3300;

//orange highlight background
$highlight_orange_bg: #f39335;

//grey stores-category item color
$cat_grey: #333;
$cat_grey_hover: #bbb;

//Greek flag blue and cyprus orange

$color_greek_blue: #0D5EAF;
$color_cyprus_orange: #f39335;


//Small text / hint grey

$small_grey: #888;

//Member name color

$section_bg_color: #ebebeb;

//Bonus background

$bonus_bg: #43aed1;

//Block borders color

$block_border_color: #ccc;

//Login page colors

$login_form_border_color: #25be4a;
$signup_form_border_color: #43aed1;

//Invite referral block colors
$ref_clicks_color: grey;
$ref_referrals_color: lightblue;
$ref_pending_color: orange;
$ref_earning_color: lightgreen;

//Help page colors
$question_background_color: #f7f7f7;

//Header colors
$user_block_menu_bg: white;