
///*------------------------------------*\
//    #HELPERS used for layouting and styling the page, but they are not html element or component.
//\*------------------------------------*/

//ui-text is used for <span>
.ui-text {
  display: inline-block;
  &--orange {
    color: $font_orange_color;
  }
  &--dark {
    color: $font_darkgray_color;
  }
}

.ui-panel__banner .ui-width--half {
  padding-top: 50px;
}

//layout grid inside of testemonials panelgrid
.ui-testemonials-grid {
  .ui-first {
    @include calc(width, "100% - 130px");
  }
  .ui-last {
    width: 90px;
    padding: 20px;
  }
  &__subheader {
    font-family: $font_3;
    color: $separator_color;
    padding: 29px 13px 8px 23px;
    font-weight: bold;
  }
  &__output {
    color: $panelgrid_output_color;
  }
  &__footer {
    padding: 14px 18px;
    background: $search_bg;
  }
}
//highlighted text is orange
span.ui-state--highlight {
  color: $separator_highlight;
}

.ui-clamp {
  width: 197px;
  //letter-spacing: -0.3px;
  a {
    margin-top: 4px;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
}

.ui-footer--social-media {
  margin-top: 40px;
  div {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0 5px;
  }
  svg {
    height: 25px;
    margin-top: 12px;
    path {
      fill: #cfcfcf;
      @include vendor-o(transition,fill 0.3s);
    }
  }
}

.ui-footer--copyright {
  padding: 20px 0;
}

.ui-commandlink--social-media {
  display: block;
  height: 50px;
  background: $social_media_circle_bg;
  @include vendor-o(transition,background 0.3s);
  &:hover {
    background: $white;
    path {
      fill: #000;
    }
  }
}
.ui-fixed {
  .ui-layout-west {
    height: 197px;
    //margin-bottom: 46px;
  }
  .ui-layout-west__content {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    background: $white;
    z-index: 1;
    @include vendor(box-shadow,2px 2px 1px 0 rgba(0, 0, 0, 0.1));
  }
}


.ui-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

//sidebar used on mobile for navigation
.ui-sidebar {
  &__content {
    width: 300px;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100%;
    background: $white;
    a {
      color: $w_f_link_color;
      display: block;
      padding: 15px;
    }
  }
  &__close {
    height: 24px;
    width: 24px;
    padding: 0;
  }
}

#backToTheTop {
  position: fixed;
  text-align: center;
  bottom: 42px;
  right: 30px;
  width: 30px;
  height: 30px;
  opacity: .5;
  background: black;
  @include vendor(border-radius,5px);
  display: none;
  z-index: 100;
  &:hover {
    cursor: pointer;
  }
}
.topIcon {
  display: inline-block;
  margin-top: 7px;
  width: 16px;
  height: 16px;
  background: $url_icon_angle_u center no-repeat;
}

label.error {
  color: red;
  font-size: 13px;
}
.ui-inputfield--dialog.ui-margin-bottom--11 + label.error {
  margin-top: -9px;
  display: block;
  margin-bottom: 11px;
}

.ui-dialog--register {
  .dropdown {
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
    .search {
      padding-top: 0.55em !important;
      padding-bottom: 0.6em !important;
    }
  }
  .ui.selection.dropdown {
    @include vendor(box-sizing, border-box);
    @include vendor(border-radius, 0);
    font-size: 14px;
    border: 1px solid #919191;
    min-height: 32px;
    height: 32px;
    width: 100%;
    .menu {
      @include vendor(box-sizing, border-box);
    }
    .item {
      font-size: 14px;
    }
  }
}

.ui-search-column {
  .ui.search .results {
    width: 100%;
    @include calc(width,"100% - 80px");
  }
}