
///*------------------------------------*\
//    #LAYOUT classes used to set page layout as needed.
//\*------------------------------------*/

//footer content in west-layout
.ui-layout-west{
  &__footer {
    background: $search_bg;
    @include vendor(box-shadow, 2px 2px 1px 0 $transparent_black_10);
    z-index: 1;
  }
  .ui-footer__content {
    padding: 11px 0;
  }
}
.ui-footer__header {
  padding-top: 55px;
  padding-bottom: 45px;
  &--green {
    background: $footer_header_green;
  }
}
