
///*------------------------------------*\
//    #PANELGRID is a low data table.
//\*------------------------------------*/

//column with a main searchbar
.ui-search-column {
  padding: 0 85px;
}

//aligning all links to center of the panelgrid cell in layout west footer
.ui-layout-west__footer td {
  text-align: center;
}

//panelgrid in homepage banner, separating Stores and Members
.ui-panelgrid--banner-price {
  a {
    color: $green_link_color;
  }
  .ui-first {
    padding-right: 35px;
  }
  .ui-last {
    padding-left: 35px;
  }
  .ui-panelgrid__cell {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

//panelgrid holding 7 logos(homepage)
.ui-panelgrid--logos {
  height: 67px;
  margin-top: 20px;
}
.ui-panelgrid__cell {
  //panelgrid cells containing only shops logos
  &--melinamay {
    background: $url_melinamay_l left no-repeat;
    background-size: auto 100%;
  }
  &--ebay {
    background: $url_ebay_l left no-repeat;
    background-size: auto 100%;
  }
  &--aliexpress {
    background: $url_aliexpress_l left no-repeat;
    background-size: auto 100%;
  }
  &--aegean {
    background: $url_aegean_l left no-repeat;
    background-size: auto 100%;
  }
  &--shopgr {
    background: $url_shopgr_l left no-repeat;
    background-size: auto 100%;
  }
  &--deliverasgr {
    background: $url_deliverasgr_l left no-repeat;
    background-size: auto 100%;
  }
  &--zackret {
    background: $url_zackret_l left no-repeat;
    background-size: auto 100%;
  }
}

.ui-panelgrid {
  &--third {
    td {
      width: 33.33%;
      padding: 0 20px;
      vertical-align: top;
    }
  }
  &--basic {
    //padding: 0 15px;
    vertical-align: top;
  }
  &__image {
    &--compass {
      background-image: $url_compass_img;
    }
    &--cart {
      background-image: $url_cart_img;
    }
    &--refund {
      background-image: $url_refund_img;
    }
  }
}
.ui-panelgrid {
  &--borders td{
    border: 1px solid $panelgrid_borders_color;
    margin: 4%;
  }
  &--background {
    height:190px;
  }
}

