
///*------------------------------------*\
//    #LAYOUT classes used to set page layout as needed.
//\*------------------------------------*/

//footer content in west-layout
.ui-layout-west{
	&__footer {
		background: $search_bg;
		@include vendor(box-shadow, 2px 2px 1px 0 $transparent_black_10);
		z-index: 1;
	}
	.ui-footer__content {
		padding: 11px 0;
	}
}
.ui-footer__header {
	padding-top: 55px;
	padding-bottom: 45px;
	&--green {
		background: $footer_header_green;
	}
}

.ui-footer--social-media {
	margin-top: 40px;
	div {
		width: 50px;
		height: 50px;
		display: inline-block;
		padding: 0 5px;
	}
	svg {
		height: 25px;
		margin-top: 12px;
		path {
			fill: $gray_svg_bg;
			@include vendor-o(transition,fill 0.3s);
		}
	}
}

.ui-footer--copyright {
	padding: 20px 0;
}

.stores-recommended {

	display: block;
	margin-bottom: 20px;
	&__rec {
		display: block;
		box-sizing: border-box;
		text-align: center;
		border: 1px solid #ccc;
		padding: 35px 5px;


		&:hover {
			box-shadow:0 8px 14px -6px rgba(153,153,153,.65);
		}
	}

	&__old-cashback {
		font-size: 12px;
		color: #888;
	}

	&__cashback {
		font-weight: bold;
		color: $color_red;
		font-size: 16px;
	}

	&__see-all {
		font-size: 12px;
		color: #888;
	}

	&__logo {
		border: none;
		margin: 0 auto;
	}
}

/**
 *Stores sidebar layout***********************************************************************************
*/

.stores-sidebar {
	
	//Style for separated blocks in sidebar such as categories or promos
	&__promo {
			border: 1px solid #ccc;
			box-sizing: border-box;
			padding: 15px;
			margin-bottom: 10px;
		
		}
	
	&__categories {
			padding: 10px;
			box-sizing: border-box;
			margin-bottom: 10px;
			border: 1px solid #ccc;

		//categories-list 
		&-list {
			list-style: none;
			margin: 0;
			padding: 0 30px;
			padding-bottom: 30px;
		}
		
		//TODO: Replace this
		a {
			color: $cat_grey;

			&:hover {
				color: $cat_grey_hover;
			}
		}
	}
	
	
	//actually it is separator
	
	&__logo-wrapper {
		height: 1px;
		background: #ccc;
		margin: 10px 0;
	}
	

	&__promo {
		
		&-banner {
			width: 100%;
		}
		
		&-logo {
			margin-top: 10px;
		}
		//TODO: Replace!
		p {
			margin: 0;
		}
		
		a {
			color: $color_red;
			font-size: 14px;
			
			&:hover {
				text-decoration: underline;
			}
			
			&::after {
				content: '';
				display: inline-block;
				width: 0;
				height: 0;
				border-top: 4px solid transparent;
				border-bottom: 4px solid transparent;
				border-left: 4px solid #f30;
				position: relative;
				right: -3px;
			}
		}
	}
	
}

// Styles for store list

//Heading of the list

.allstores {
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-bottom: none;

	&__heading {
		margin: 15px 25px;
		@include clearfix;
	
		&-paragraph {
			margin: 0; 
			display: inline-block;
			width: 48%;
			}
	
	}
	
	&__arrowdown {
		position: absolute;
		top: 0;
		right: 0;
	}

	&__sorting {
		postiiton: relative;
		display: inline-block;
		font-size: 14px;
		width: 25%;
		box-sizing: border-box;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		cursor: pointer;

		&-wrapper {
			list-style: none;
			padding: 0;
			margin: 0;
			position: relative;
		}


		&:hover .allstores__inner-list {
			display: block;
		}
	}

	&__inner-list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: none;
		position: absolute;
		width: calc(100% + 20px);
		left: -10px;
		padding-top: 20px;
		z-index: 1;
	
		&::before {
			content: "";
			position: absolute;
			border-style: solid;
			border-width: 10px;
			border-color: transparent transparent #fff transparent;
			display: block;
			width: 0;
			z-index: 1;
			top: 1px;
			right: 15px;
		}

		&::after {
			content: "";
			position: absolute;
			border-style: solid;
			border-width: 11px;
			border-color: transparent transparent #CCC transparent;
			display: block;
			width: 0;
			z-index: 0;
			top: -1px;
			right: 14px;
		}
	}
	
	&__inner-item {
		display: block;
		box-sizing: border-box;
		padding: 10px;
		transition: transform .3s;
		position: relative;
		
		&:link {
			color: black;
		}

		&:hover {
			transform: translateX(10px);
		}

	}

	&__inner-item-wrapper {
		border: 1px solid #ccc;
		border-top: none;
		background: white;
		position: relative;

		&:first-child {
			border-radius: 5px 5px 0 0;
			border-top: 1px solid #ccc;
		}

		&:last-child {
			border-radius: 0 0 5px 5px;
		}
		
		&--checked {
			&::after {
				content: "\f00c";
				font-family: fontawesome !important;
				color: green;
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

}


//Here starts style of the stores sorting selects



// Sticky promos style

.promo-sticky {
	padding: 0;
	box-sizing: border-box;
	margin-bottom: 10px;  
	z-index: 0;
	
	&__heading {
		border: 1px solid #ccc;
		padding: 15px;
	}
	
	&__logo {
		max-width: 100%;
	}
	
	&__links {
		box-sizing: border-box;
		border: 1px solid #ccc;
		border-top: none;
		border-bottom: none;
	}
	
	&__link-wrapper {
		box-sizing: border-box;
		border-bottom: 1px solid #ccc;
		
		&:not(:nth-child(3n-1)) {
			border-right: 1px solid transparent;
			border-left: 1px solid transparent;
		}
		
		&:nth-child(3n-1) {
			border-right: 1px solid #ccc;
			border-left: 1px solid #ccc;
		}
	}
	
	&__link {
		display: block;
		box-sizing: border-box;
		padding: 25px 15px;
	}
}

// Layouting for stores item list + stores item from all-stores page

.stores {
	
		
	&__fav-but {
		cursor: pointer;
		position: absolute;
		left: 6px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
		color: #ccc;

		&--checked {
			color: gold;
		}
	}

	&__items {
		list-style: none;
		padding: 0;
		border-top: 1px solid #ccc;
		margin: 0;
	}

	&__item {
		border-bottom: 1px solid #ccc;
		padding: 30px 30px;
		position: relative;
		z-index: 0;
	}
		
	&__item-name {
		color: $green_link_color;
	}

	&__coupons {
		color: $commandLink_gray;
		font-size: 14px;
	}

	&__cashback {
		color: $color_red;
		font-weight: bold;
	}

	&__shop-btn {
		width: auto;
		text-align: center;
		padding: 5px 15px;
		background: $color_red;
		border-radius: 5px;
		color: white;
		position: absolute;
		top: 50%;
		right: 25px;
		transform: translateY(-50%);
		transition: background-color .5s;

		&:hover {
			background: #f54;
		}
	}
}

.alpha {
	box-sizing: border-box;
	padding: 10px 30px;
	
	&--ww {
			background: #CCC;
	}

	&--greece {
		background: $color_greek_blue;
	}

	&--cyprus {
		background: $color_cyprus_orange;
	}
	

	&__filter {
		color: $button_green_light_color;
		cursor: pointer;
		font-size: 15px;
		letter-spacing: 2px;
		
		&--greece {
			color: white;
		}

		&--checked {
			color: black;
		}

	}

	&__break {
		display: none;
	}
}

.sorting-shipping {
	
	&__value {

		&--ww {
			color: black;
		}

		&--cyprus {
			color: $color_cyprus_orange;
		}

		&--greece {
			color: $color_greek_blue;
		}
	}
}