
///*------------------------------------*\
//    #HELPERS used for layouting and styling the page, but they are not html element or component.
//\*------------------------------------*/

//ui-text is used for <span>
.ui-text {
  display: inline-block;
  &--orange {
    color: $font_orange_color;
  }
  &--dark {
    color: $font_darkgray_color;
  }
}

.ui-panel__banner .ui-width--half {
  padding-top: 50px;
}

