
///*------------------------------------*\
//    #INPUTFIELD this includes all input elements, <input><textarea> etc.
//\*------------------------------------*/

.ui-inputfield--search {
  position: relative;
  background: $search_bg;
  ::-webkit-input-placeholder {
		font-size: 16px;
		color: $search_placeholder_color;
	}
	:-moz-placeholder {
		font-size: 16px;
		color: $search_placeholder_color;
	}
	::-moz-placeholder {
		font-size: 16px;
		color: $search_placeholder_color;
	}
	:-ms-input-placeholder {
		font-size: 16px;
		color: $search_placeholder_color;
	}
}
