
///*------------------------------------*\
//    #SETTINGS-IMAGES all links for images
//\*------------------------------------*/

//search icon size 28px/28px
$url_icon_search: url("../images/icon-search.svg");

//url for banner image
$url_banner_img: url("../images/banner-bg.png");

//shops logos used in panelgrid below the baner on homepage.
//melinamay logo
$url_melinamay_l: url("../images/melinamay-logo.png");

//ebay logo
$url_ebay_l: url("../images/ebay-logo.png");

//aliexpress logo
$url_aliexpress_l: url("../images/aliexpress-logo.png");

//aegean logo
$url_aegean_l: url("../images/aegean-logo.png");

//shopgr logo
$url_shopgr_l: url("../images/shopgr-logo.png");

//deliverasgr logo
$url_deliverasgr_l: url("../images/deliverasgr-logo.png");

//zackret logo
$url_zackret_l: url("../images/zackret-logo.png");

//compass image
$url_compass_img: url("../images/icon-compass.png");

//cart image
$url_cart_img: url("../images/icon-cart.png");

//refund image
$url_refund_img: url("../images/icon-refund.png");

//market logo
$url_market_l: url("../images/market-logo.png");

//bonton logo
$url_bonton_l: url("../images/bonton-logo.png");

//robot logo
$url_robot_l: url("../images/robot-logo.png");

//nike logo
$url_nike_l: url("../images/nike-logo.png");
