<div class="breadcrumbs">
    <ul class="breadcrumbs__crumbs">
        <li class="breadcrumbs__crumb"><a href="#" class="breadcrumbs__crumb-link">Bread</a></li>
        <li class="breadcrumbs__crumb"><a href="#" class="breadcrumbs__crumb-link">Crumb</a></li>
        <li class="breadcrumbs__crumb"><a href="#" class="breadcrumbs__crumb-link">Crumb 2</a></li>
        <li class="breadcrumbs__crumb"><a class="breadcrumbs__crumb-link breadcrumbs__crumb-link--current">You are here</a></li>
    </ul>
</div>