<div class="ui-layout-west">
        <div class="ui-layout-west__content">
    
            <table class="ui-panelgrid ui-width--full" >
                <tbody>
                <tr>
                    <!-- logo column -->
                    <td class="ui-width--190">
                        <img src="images/logo-t.png" >
                    </td>
                    <!-- search column -->
                    <td class="ui-search-column">
                        <div class="ui search ui-inputfield ui-inputfield--search">
                            <input class="prompt" type="text" placeholder="Search"/>
                            <button class="ui-button ui-position--relative ui-border--none ui-button--green ui-button--search">
                                <span class="ui-icon ui-icon--search"></span>
                            </button>
                            <div class="results"></div>
                        </div>
                    </td>
                    <!-- sign in column -->
                    <td class="ui-width--230">
                        <div class="user-block">
                            <a href="#" class="ui-color--green ui-float--right">Nicolas $50.00 &nbsp;<span class="fa fa-angle-down"></span></a>
                                <ul class="user-block__menu">
                                    <li class="user-block__item-wrapper"><a href="#" class="user-block__menu-link">My Account</a></li>
                                    <li class="user-block__item-wrapper"><a href="#" class="user-block__menu-link">Favorite stores</a></li>
                                    <li class="user-block__item-wrapper"><a href="#" class="user-block__menu-link">Shopping Trips</a></li>
                                    <li class="user-block__item-wrapper"><a href="#" class="user-block__menu-link">Cash Back Balance: <span class="user-block__cbalance">$30.00</span></a></li>
                                    <li class="user-block__item-wrapper"><a href="#" class="user-block__menu-link">Favorite stores</a></li>
                                    <li class="user-block__item-wrapper"><a href="#" class="user-block__menu-link">Favorite stores</a></li>
                                    <li class="user-block__item-wrapper user-block__item-wrapper--socials">
                                        <a href="#" class="user-block__connect-link user-block__connect-link--fb"><span class="fa fa-google"></span> Connect</a>
                                        <a href="#" class="user-block__connect-link user-block__connect-link--gp"><span class="fa fa-facebook"></span> Connect</a>
                                    </li>
                                    <li class="user-block__item-wrapper"><a href="#" class="user-block__menu-link">Sign Out</a></li>
                                    <li class="user-block__item-wrapper"><a href="#" class="user-block__menu-link">Help</a></li>
                                </ul>
                        </div>
                    </td>
    
                </tr>
                </tbody>
            </table>
            <!-- end of panelgrid -->
        </div>
        <!-- footer inside of west layout -->
        <div class="ui-layout-west__footer menu">
            <div class="ui-footer__content">
                <table class="ui-panelgrid ui-width--full">
                    <tbody>
                    <tr>
                        <td>
                            <div class="ui-dropdown">
                            <a>All stores</a>
                                <div class="ui-dropdown__content">
                                    <a href="/melinamay">Melinamay</a>
                                    <a href="/ebay">Ebay</a>
                                    <a href="/aliexpress">AliExpress</a>
                                    <a href="/aegean">Aegean</a>
                                    <a href="/shop-gr">E-shop GR</a>
                                    <a href="/deliveras-gr">Deliveras GR</a>
                                    <a href="/zackret">Zackret Sports</a>
                                </div>
                            </div>
    
                        </td>
                        <td>
                            <a href="/coupons">Coupons</a>
                        </td>
                        <td>
                            <a href="/categories">Categories</a>
                        </td>
                        <td>
                            <a href="/hot-deal">Hot Deals</a>
                        </td>
                        <td>
                            <div class="ui-dropdown">
                                <a>All stores</a>
                                <div class="ui-dropdown__content">
                                    <a href="/melinamay">Melinamay</a>
                                    <a href="/ebay">Ebay</a>
                                    <a href="/aliexpress">AliExpress</a>
                                    <a href="/aegean">Aegean</a>
                                    <a href="/shop-gr">E-shop GR</a>
                                    <a href="/deliveras-gr">Deliveras GR</a>
                                    <a href="/zackret">Zackret Sports</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="/how-it-works">How it works</a>
                        </td>
                        <td>
                            <a href="/help">Help</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="ui-button ui-background--none ui-button--navigation ui-float--right ui-border--none" >
                    <span class="ui-icon ui-icon--bars">
    
                    </span>
                </button>
                <p class="clear"></p>
                <!-- end of panelgrid -->
            </div>
        </div>
        <!-- end of layout-west__footer -->
    </div>
    <!-- end of layout-west -->
    