<div class="ui-layout-west">
    <div class="ui-layout-west__content">

        <table class="ui-panelgrid ui-width--full" >
            <tbody>
            <tr>
                <!-- logo column -->
                <td class="ui-width--215 header-logo">
                    <img src="images/logo-t.png" >
                <!-- flag column -->
                    <div class="flag-dropdown flag-dropdown__current flag-dropdown__current--gr">
                        <ul class="flag-dropdown__list">
                            <li class="flag-dropdown__list-item"><a href="#"><div class="flag-dropdown__item flag-dropdown__item--gr"></div> </a></li>
                            <li class="flag-dropdown__list-item"><a href="#"><div class="flag-dropdown__item flag-dropdown__item--cy"></div> </a></li>
                        </ul>
                    </div>
                </td>
                <!-- search column -->
                <td class="ui-search-column">
                    <div class="ui search ui-inputfield ui-inputfield--search">
                        <input class="prompt" type="text" placeholder="Search"/>
                        <button class="ui-button ui-position--relative ui-border--none ui-button--green ui-button--search">
                            <span class="ui-icon ui-icon--search"></span>
                        </button>
                        <div class="results"></div>
                    </div>
                </td>
                <!-- sign in column -->
                <td class="ui-width--230">
                    <button id="login-btn" class="ui-button ui-border-radius--5 ui-font-size--15 ui-border--none ui-button--orange ui-button--left ui-button--header" >Login</button>
                    <button id="register-btn" class="ui-button ui-border-radius--5 ui-font-size--15 ui-border--none ui-button--orange ui-button--right ui-button--header" >Register</button>
                </td>

            </tr>
            </tbody>
        </table>
        <!-- end of panelgrid -->
    </div>
    <!-- footer inside of west layout -->
    <div class="ui-layout-west__footer menu">
        <div class="ui-footer__content">
            <table class="ui-panelgrid ui-width--full">
                <tbody>
                <tr>
                    <td>
                        <div class="ui-dropdown">
                        <a>All stores</a>
                            <div class="ui-dropdown__content">
                                <a href="/melinamay">Melinamay</a>
                                <a href="/ebay">Ebay</a>
                                <a href="/aliexpress">AliExpress</a>
                                <a href="/aegean">Aegean</a>
                                <a href="/shop-gr">E-shop GR</a>
                                <a href="/deliveras-gr">Deliveras GR</a>
                                <a href="/zackret">Zackret Sports</a>
                            </div>
                        </div>

                    </td>
                    <td>
                        <a href="/coupons">Coupons</a>
                    </td>
                    <td>
                        <a href="/categories">Categories</a>
                    </td>
                    <td>
                        <a href="/hot-deal">Hot Deals</a>
                    </td>
                    <td>
                        <div class="ui-dropdown">
                            <a>All stores</a>
                            <div class="ui-dropdown__content">
                                <a href="/melinamay">Melinamay</a>
                                <a href="/ebay">Ebay</a>
                                <a href="/aliexpress">AliExpress</a>
                                <a href="/aegean">Aegean</a>
                                <a href="/shop-gr">E-shop GR</a>
                                <a href="/deliveras-gr">Deliveras GR</a>
                                <a href="/zackret">Zackret Sports</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a href="/how-it-works">How it works</a>
                    </td>
                    <td>
                        <a href="/help">Help</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="ui-button ui-background--none ui-button--navigation ui-float--right ui-border--none" >
                <span class="ui-icon ui-icon--bars">

                </span>
            </button>
            <p class="clear"></p>
            <!-- end of panelgrid -->
        </div>
    </div>
    <!-- end of layout-west__footer -->
</div>
<!-- end of layout-west -->
<script src="js/flag.js"></script>
