<div   class="ui-modal ui-sidebar--navigation">

        <div class="ui-sidebar__content">
            <button id="closeSidebarBtn" class="ui-button ui-border--none ui-float--right ui-background--none ui-sidebar__close">
                <span class="ui-icon ui-icon--close"></span>
            </button>
            <p class="clear"></p>
            <div class="ui-accordion">
                <div class="ui-accordion__header">
                    <span>All Stores</span>
                </div>
                <div class="ui-accordion__content">
                    <a href="/melinamay">Melinamay</a>
                    <a href="/ebay">Ebay</a>
                    <a href="/aliexpress">AliExpress</a>
                    <a href="/aegean">Aegean</a>
                    <a href="/shop-gr">E-shop GR</a>
                    <a href="/deliveras-gr">Deliveras GR</a>
                    <a href="/zackret">Zackret Sports</a>
                </div>
            </div>
            <a href="/coupons">Coupons</a>
            <a href="/categories">Categories</a>
            <a href="/hot-deal">Hot Deals</a>
            <div class="ui-accordion">
                <div class="ui-accordion__header">
                    <span>All Stores</span>
                </div>
                <div class="ui-accordion__content">
                    <a href="/melinamay">Melinamay</a>
                    <a href="/ebay">Ebay</a>
                    <a href="/aliexpress">AliExpress</a>
                    <a href="/aegean">Aegean</a>
                    <a href="/shop-gr">E-shop GR</a>
                    <a href="/deliveras-gr">Deliveras GR</a>
                    <a href="/zackret">Zackret Sports</a>
                </div>
            </div>
            <a href="/how-it-works">How it works</a>
            <a href="/help">Help</a>
        </div>
    
    </div>