<div class="overlay"> 
    <div class="modal-help-email">
        <p>Contact</p>
        <p>Fill fields as fast as you can so blah-blah blah</p>

        <form action="" method="post">
            <!-- Enter the name -->

            <label for="name">name</label> <br>
            <input type="text" id="helpName" name="name">
            
            <!-- Enter e-mail -->

            <label for="name">Email</label> <br>
            <input type="email" id="helpEmail" name="name">

            <!-- Tema -->

            
        </form>
    </div>
</div>