<div class="overlay"></div>
<div class="modal modal-help-email">
    <p class="ui-font-size--40">Contact</p>
    <p>Fill fields as fast as you can so blah-blah blah</p>

    <form action="" method="post" class="ui-margin-top--15">
        <!-- Enter the name -->

        <label for="name" class="modal__label">Name:</label> <br>
        <input class="modal__input-t modal__input-t--help" type="text" id="helpName" name="name"> 
        <br>
        
        <!-- Enter e-mail -->

        <label for="name" class="modal__label">Email:</label> <br>
        <input class="modal__input-t modal__input-t--help" type="email" id="helpEmail" name="name">
        <br>
        <!-- Tema -->
        <label for="theme" class="modal__label">Theme</label><br>
        <select name="theme" id="theme" class="modal__input-select">
            <option value="theme1">Choose a theme...</option>
            <option value="theme2">Theme 1</option>
            <option value="theme3">Theme 2</option>
            <option value="theme4">Theme 3</option>
        </select>
        <br>
        <label for="question" class="modal__label">Your Question</label> <br>
        <textarea name="question" id="quiestion" cols="50" rows="10" class="modal__textarea"></textarea> 
        <br>
        <button type="submit" class="ui-button ui-button--green modal__btn">Send</button>
    </form>
    <button class="modal__close-btn fa fa-close"></button>
</div>