<div class="overlay"></div>
<div class="modal modal-coupon-login clr">
        <p class="ui-font-size--40">Login or register</p>
    <div class="modal__caption">
        <p class="modal__cap-error"><span class="fa fa-info-circle modal__capicon"></span> You are not a member of the service</p>
        <p>To get a cashback please register below</p>
        <p>Not a member? <a href="#" class="modal__link">Register Now</a></p>
    </div>
    <form action="" method="POST" class="grid-2-col__1-of-2">
        <label for="email" class="ui-font--bold">EMAIL:</label><br>
        <input class="modal__input-t" type="email" name="email" id="email"><br>
        <label for="password" class="ui-font--bold">PASSWORD:</label><br>
        <input class="modal__input-t" type="password" name="password" id="password"><br>
        <a href="#" class="modal__link">I forgot my password</a> <br>
        <button type="submit" class="modal__btn ui-button ui-button--green">Login</button> <br>
        <input type="checkbox" name="remember" id="remember"> <label for="remember">Remember Me</label>
    </form>
    <div class="grid-2-col__1-of-2">
        <div class="modal-coupon-login__or">or</div>
        <div class="modal-coupon-login__socials">
                <a href="#" class="modal-coupon-login__social modal-coupon-login__social--fb">
                    <span class="modal-coupon-login__socicon fa fa-facebook"></span> 
                    Login with Facebook
                </a> <br>
                <a href="#" class="modal-coupon-login__social modal-coupon-login__social--gp">
                    <span class="modal-coupon-login__socicon fa fa-google-plus"></span>
                        Login with Google Plus
                </a>
        </div>
    </div>
    <a href="#" class="modal__link modal-coupon-login__without-cb">No thanks, continue without cahsback</a>
    <button class="modal__close-btn fa fa-close"></button>
</div>