
///*------------------------------------*\
//    #LAYOUT classes used to set page layout as needed.
//\*------------------------------------*/

/**
 * West layout styles (used as a web-page main header). ******************************************************************************************************************
 */
.ui-layout-west {
  &__content {
    max-width: 1170px;
    padding: 24px 0;
    margin: 0 auto;
  }
}

/**
 * Center layout styles (used as a web-page main content). ******************************************************************************************************************
 */
.ui-layout-center {
  &__content {
    @extend %main-layout;
  }
}

/**
 * webpage footer ******************************************************************************************************************
 */
.ui-footer {
  margin-top: 50px;
  background: $footer_bg;
  &__content {

    @extend %main-layout;
  }
}
