
///*------------------------------------*\
//    #PANELGRID is a low data table.
//\*------------------------------------*/

//subheader in panelgrid (larger darker text)
.ui-panelgrid {
  &__subheader {
    font-family: $font_3;
    font-size: 24px;
    color: $separator_color;
    padding: 15px 0 8px 0;
    font-weight: bold;
    
  }
  &__output {
    font-size: 16px;
    color: $panelgrid_output_color;
  }
  &__image {
    height: 100px;
    background: center center / auto no-repeat;
  }
}
