.dashboard {

    &__balance {
        text-align: center;
    }

    &__balance-wrapper {
        box-sizing: border-box;
        margin:  20px 0;
    }

    &__wh-cb {
        margin: 20px 40px;
    }
}