.breadcrumbs {
    background: #f7f7f7;
    margin: 15px 0;
    padding: 5px 10px;
    box-shadow: 0px 2px 1px 0 rgba(0,0,0,.1);

    &__crumbs {
        display: block;
    }

    &__crumb {
        display: inline-block;
        padding-right: 10px;

        &:not(:last-child)::after {
            content: "›";
            position: relative;
            right: -5px;
            font-size: 18px;
        }
    }

    &__crumb-link {
        font-size: 14px;

        &:not(&--current) {
            color: $green_link_color;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}