.coupon {
    @include clearfix;
    
    padding: 30px;
    border-bottom: 1px solid $block_border_color;
    position: relative;

    &__type {
        text-transform: uppercase;
        color: white;
        padding: 0 2px;
        font-size: 13px;

        &--promocode {
            background: #ff2552;
        }

        &--sale {
            background: #0394ea;
        }

        &--free {
            background: #f39335;
        }
    }

    &__times-used {
        font-size: 13px;
        color: $color_dark_gray;
    }

    &__logo-wrapper {
        float: left;
        width: 20%;
    }

    &__content {
        float: left;
        width: 60%;
    }

    &__description {
        position: relative;
    }

    &__c-read-more {
        position: relative;
        right: -80%;
        font-weight: bold;
        background: url(../images/trans-white-grad-60x1.png) repeat-y 0 0;
    }

    &__shop-btn {
        padding: 5px 10px;
        color: white;
    }

    &__code-expires {
        position: relative;
    }


    &--paginated {
        display: none;
    }

    //Only some design for modal
    &__modal {
        // width: 100vw;
        height: 640px;
        background: rgba(black, 0.3);
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 0;
    }

    &__modal-window {
        width: 640px;
        height: 480px;
        background: white;
        position: absolute;
        z-index: 12;
        top: 100px;
        left: 50%;
        transform: translateX(-5%);
    }
}

@media (max-width: 1150px) {
    .coupon {

        &__logo-wrapper {
            width: 100%;
            text-align: center;
        }

        &__content {
            width: 100%;
        }

        &__shop-btn {
            float: right;
        }
    }
}