// 6 column grid
.grid-6-col {
  @include clearfix;

  &__1-of-6 {
    display: block;
    float: left;
    width: 100%;

    &:not(:last-child){
      margin-right: 1.02%;
    }
  }
}

.grid-3-5-col {
  @include clearfix;
  
  &__1-of-3-5 {
    width: calc(100% / 3.5);
    float: left;
  }
  
  &__2x1-of-3-5 {
    float: left;
    width: calc((100% - (100% / 3.5)) - 10px);
    margin-left: 10px;
  }
}

.grid-3-col {
  @include clearfix;
  
  &__1-of-3 {
    float: left;
    width: calc(100% / 3);
  }
}