
///*------------------------------------*\
//    #LAYOUT classes used to set page layout as needed.
//\*------------------------------------*/

/**
 * West layout styles (used as a web-page main header). ******************************************************************************************************************
 */
.ui-layout-west {
  &__content {
    max-width: 1170px;
    padding: 24px 15px;
    margin: 0 auto;
  }
}

.header-logo {

}

.flag-dropdown {
  position: relative;
  vertical-align: super;

  &:hover &__list {
    display: block;
  }

  &__list {
    display: none;
    position: absolute;
    right: -50px;
    z-index: 10000;
    width: 50px;
    font-size: 13px;
  }

  &__current {
    display: inline-block;
    width: 20px;
    height: 15px;

    &--gr {
      background: url(../images/flags/gr.svg) no-repeat;
      background-size: cover;
    }

    &--cy {
      background: url(../images/flags/cy.svg) no-repeat;
      background-size: cover;
    }

  }

  &__list-item {

  }

  &__item {
    display: inline-block;
    width: 20px;
    height: 15px;

    &--gr {
      background: url(../images/flags/gr.svg) no-repeat;
      background-size: cover;
    }

    &--cy {
      background: url(../images/flags/cy.svg) no-repeat;
      background-size: cover;
    }
  }
}

/**
 * Center layout styles (used as a web-page main content). ******************************************************************************************************************
 */
.ui-layout-center {
  &__content {
    @extend %main-layout;
    // padding: 0 15px;
  }
}

/**
 * webpage footer ******************************************************************************************************************
 */
.ui-footer {
  margin-top: 50px;
  background: $footer_bg;
  &__content {
    padding-top: 30px;
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

